n8n workflows/Doc_Upload_Agent.json
{
  "name": "Doc Upload Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Answer the following user prompt. Use think tool to break down the request and plan effectively for your research. \n\n{{ $json.body.message }}\nFormat your response as follows:\n\nSummary of the findings.\nList out key arguments with detailed supporting data. add hyperlink sources to your answer for the points you make so that the user can do self exploration. \nPaste all the data extracted using the tool. \n",
        "options": {
          "systemMessage": "You are a research expert with the ability to think and plan effectively. Communicate clearly and precisely. Ask clarifying questions if necessary. \n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -100,
        -200
      ],
      "id": "ae46a5a3-b565-455f-b74e-8470ef4d261c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -960,
        80
      ],
      "id": "c28d14c4-1bd6-424f-ba2f-40aba4a86010",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "chn1Vyq14nakpxXd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=timeId: {{ $json.body.timestamp }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -80,
        20
      ],
      "id": "343fd2de-6899-4a9b-b8fa-3bd7579dcf9c",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        40,
        20
      ],
      "id": "051dc48b-cf4a-49e7-81fb-be2c10305bc9",
      "name": "Think"
    },
    {
      "parameters": {
        "sseEndpoint": "https://kkkle.app.n8n.cloud/mcp/cf10840b-f746-4a56-81a6-e8d8cd8216cf/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        160,
        20
      ],
      "id": "cb5b6c81-7be1-4c28-860d-528b03bdc687",
      "name": "Market Intel Tools"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6d2efde-6a45-404b-9143-614b45b5144e",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        -200
      ],
      "id": "34d00993-f7c8-4e5e-b7a2-add737329352",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "cyclopedia",
          "mode": "list",
          "cachedResultName": "cyclopedia"
        },
        "options": {
          "collectionConfig": "{\n  \"vectors\": {\n    \"size\": 1536,\n    \"distance\": \"Cosine\"\n  },\n  \"hnsw_config\": {\n    \"m\": 32,\n    \"ef_construct\": 200\n  },\n  \"quantization_config\": {\n    \"scalar\": {\n      \"type\": \"int8\",\n      \"quantile\": 0.99,\n      \"always_ram\": true\n    }\n  }\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        780,
        40
      ],
      "id": "fee35ebf-8542-4bfd-a8f3-942bed785c86",
      "name": "Qdrant Vector Store2",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('AI Agent').item.json.output }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=primary_topic",
                "value": "={{ $json.output.primary_topic }}"
              },
              {
                "name": "sub_topic_path",
                "value": "={{ $json.output.sub_topic_path }}"
              },
              {
                "name": "keywords",
                "value": "={{ $json.output.keywords }}"
              },
              {
                "name": "abstract",
                "value": "={{ $json.output.abstract }}"
              },
              {
                "name": "sensitivity_class",
                "value": "={{ $json.output.sensitivity_class }}"
              },
              {
                "name": "urls",
                "value": "={{ $json.output.url }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        820,
        220
      ],
      "id": "a36a2609-ee9d-4eaf-bc4b-44c162870af6",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "id": "396cebfd-8b38-458b-b42c-eac269a362e5",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        700,
        220
      ],
      "id": "14517cd5-3bdf-478e-82cc-3db939ad9665",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "chn1Vyq14nakpxXd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"primary_topic\":            \"Example string\",\n  \"sub_topic_path\":           \"Technology > Artificial Intelligence > Autonomous Vehicles\",\n  \"keywords\":                 [\"keyword‑1\", \"keyword‑2\", \"keyword‑3\"],\n  \"abstract\":                 \"Short plain‑text summary of the content.\",\n  \"sensitivity_class\":        \"public\",\n  \"url\":                      [\"https://example.com/resource‑1\", \"https://example.com/resource‑2\"]\n}",
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm. Only extract relevant information from the text.\n\nRespond ONLY valid JSON. Do NOT wrap the answer in ```json ...``` or any markdown.\n\nprimary_topic – Must be a single, human‑readable string naming the broad subject; no arrows, arrays, or code fences (e.g., \"NVIDIA Automotive Solutions\").\n\nsub_topic_path – Must be a JSON array whose elements go from the broadest category to the most specific (e.g., [\"Technology\", \"Artificial Intelligence\", \"Autonomous Vehicles\"]).\n\nkeywords – Must be a JSON array of 3‑10 short strings (each ≤ 3 words, lower‑case or Title Case, no duplicates), such as [\"AI\", \"Simulation\", \"Safety Systems\"].\n\nabstract – Must be plain text, 1‑3 sentences, no markdown, no line breaks, and no more than 320 characters (e.g., \"NVIDIA provides an end‑to‑end platform for autonomous driving, covering AI training, real‑time computing, and in‑vehicle safety.\").\n\nsensitivity_class – Must be one of exactly these values: \"public\", \"internal\", \"confidential\", or \"PII\" (case‑sensitive).\n\nurl – Must be a JSON array containing valid HTTPS URLs and nothing else (e.g., [\"https://www.nvidia.com/en-us/industries/automotive/\"]).\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        360,
        40
      ],
      "id": "5849b89c-07fc-4fe8-911e-1ed2eaa1945f",
      "name": "Information Extractor",
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        420,
        260
      ],
      "id": "6b56e73f-7504-4a69-b3ef-4219f61c62e4",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "kVlwRjh9oiYcDQRp",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8fedeb7e-43da-4848-82e9-9b9fe0e87d56",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "document"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1380,
        -140
      ],
      "id": "edc1e465-f4b6-46b9-918e-0761a5ab760f",
      "name": "Webhook",
      "webhookId": "8fedeb7e-43da-4848-82e9-9b9fe0e87d56"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        580,
        -200
      ],
      "id": "473f05e9-1914-45f6-9622-c733dfbda74b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openrouter.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "document0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -740,
        -480
      ],
      "id": "aa34295a-ef88-460d-87f6-f790c0e955f8",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "model": "qwen3:8b-q4_K_M",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -200,
        -20
      ],
      "id": "857f8f60-e046-4e40-9219-54379dace2b1",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "document0",
        "options": {}
      },
      "type": "n8n-nodes-tesseractjs.tesseractNode",
      "typeVersion": 1,
      "position": [
        -1040,
        -480
      ],
      "id": "dbb0a7e9-79fd-4979-bfae-4aa04b80f51b",
      "name": "Tesseract",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer Os7EuJ03JrIEz2UTS9DFCa70XpKa2iK9"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "document0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1140,
        -140
      ],
      "id": "fd7bada8-9210-434e-ac5a-203cfa1cb788",
      "name": "Upload to Mistral"
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -920,
        -140
      ],
      "id": "e9e1f3af-8f5a-4e28-85ef-64264e3be9fb",
      "name": "get url from mistral",
      "credentials": {
        "httpHeaderAuth": {
          "id": "yPwz4YNXn7bXbuXY",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "ocr_output.json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -700,
        -140
      ],
      "id": "7921e3c9-9330-457f-8220-0c2912e6d825",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "yPwz4YNXn7bXbuXY",
          "name": "OpenRouter"
        }
      }
    }
  ],
  "pinData": {
    "Upload to Mistral": [
      {
        "json": {
          "id": "dcb64e1e-a858-49c7-b49b-f19275117945",
          "object": "file",
          "bytes": 1672874,
          "created_at": 1746084005,
          "filename": "Artificial intelligence boundary resources  a relational view on leveraging  AI-as-a-Service  (1).pdf",
          "purpose": "ocr",
          "sample_type": "ocr_input",
          "num_lines": 1,
          "source": "upload"
        }
      }
    ]
  },
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Market Intel Tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Upload to Mistral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Tesseract": {
      "main": [
        []
      ]
    },
    "Upload to Mistral": {
      "main": [
        [
          {
            "node": "get url from mistral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get url from mistral": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "24b1722f-cd7f-46de-9f31-0221e392b047",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "GM3afeZsUpHo3aaZ",
  "tags": [
    {
      "createdAt": "2025-04-21T21:27:58.869Z",
      "updatedAt": "2025-04-21T21:27:58.869Z",
      "id": "dfS6qeX82lpCttp6",
      "name": "ProspectsAI"
    }
  ]
}