n8n workflows/MarketIntelAgent.json
{
  "name": "MarketIntelAgent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Answer the following user prompt. Use think tool to break down the request and plan effectively for your research. \n\n{{ $json.chatInput }}\n\nFormat your response as follows:\n\nSummary of the findings.\nList out key arguments with detailed supporting data. add hyperlink sources to your answer for the points you make so that the user can do self exploration. \nPaste all the data extracted using the tool. \n",
        "options": {
          "systemMessage": "You are a research expert with the ability to think and plan effectively. Communicate clearly and precisely. Ask clarifying questions if necessary. \n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -1000,
        -60
      ],
      "id": "764b07a8-34b3-4b32-8d0d-fd638974f1b4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1140,
        160
      ],
      "id": "2c347b8f-9f45-4ca3-ab7c-dfcbdc87675a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "chn1Vyq14nakpxXd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -880,
        160
      ],
      "id": "46fa88a4-73d0-4638-9169-93fb89add0fa",
      "name": "Think"
    },
    {
      "parameters": {
        "sseEndpoint": "https://kmle.app.n8n.cloud/mcp/cf10840b-f746-4a56-81a6-e8d8cd8216cf/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -740,
        160
      ],
      "id": "7d477cd1-e0c8-4c25-a4ab-5dc987cce1f0",
      "name": "Market Intel Tools"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1bQ9ENknPMf4SJRA",
          "mode": "list",
          "cachedResultName": "Embedding Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1220,
        680
      ],
      "id": "68750148-052f-4887-9ccf-79296d416705",
      "name": "Execute Workflow",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6d2efde-6a45-404b-9143-614b45b5144e",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -520,
        -60
      ],
      "id": "cea073d4-7ce8-45e9-90fe-4139d9cc7c90",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1240,
        -60
      ],
      "id": "90f4052d-adc5-489b-a499-7c803d6edb88",
      "name": "When chat message received",
      "webhookId": "ae173770-884d-4eb4-9249-3c09169fe2d9"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "cyclopedia",
          "mode": "list",
          "cachedResultName": "cyclopedia"
        },
        "options": {
          "collectionConfig": "{\n  \"vectors\": {\n    \"size\": 1536,\n    \"distance\": \"Cosine\"\n  },\n  \"hnsw_config\": {\n    \"m\": 32,\n    \"ef_construct\": 200\n  },\n  \"quantization_config\": {\n    \"scalar\": {\n      \"type\": \"int8\",\n      \"quantile\": 0.99,\n      \"always_ram\": true\n    }\n  }\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        -140,
        160
      ],
      "id": "30e3b0a9-c1ee-4e75-95dd-230d602976fc",
      "name": "Qdrant Vector Store2",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('AI Agent').item.json.output }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=primary_topic",
                "value": "={{ $json.output.primary_topic }}"
              },
              {
                "name": "sub_topic_path",
                "value": "={{ $json.output.sub_topic_path }}"
              },
              {
                "name": "keywords",
                "value": "={{ $json.output.keywords }}"
              },
              {
                "name": "abstract",
                "value": "={{ $json.output.abstract }}"
              },
              {
                "name": "sensitivity_class",
                "value": "={{ $json.output.sensitivity_class }}"
              },
              {
                "name": "urls",
                "value": "={{ $json.output.url }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -100,
        340
      ],
      "id": "aa4d2c5e-b3d7-48f1-b3df-99619dd3b7ce",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -20,
        540
      ],
      "id": "376b4934-59b3-467f-bf96-07e7d36dbfae",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -220,
        340
      ],
      "id": "5e22a9e7-6083-47aa-8b6f-a1a6a12909cc",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "chn1Vyq14nakpxXd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"primary_topic\":            \"Example string\",\n  \"sub_topic_path\":           \"Technology > Artificial Intelligence > Autonomous Vehicles\",\n  \"keywords\":                 [\"keyword‑1\", \"keyword‑2\", \"keyword‑3\"],\n  \"abstract\":                 \"Short plain‑text summary of the content.\",\n  \"sensitivity_class\":        \"public\",\n  \"url\":                      [\"https://example.com/resource‑1\", \"https://example.com/resource‑2\"]\n}",
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm. Only extract relevant information from the text.\n\nRespond ONLY valid JSON. Do NOT wrap the answer in ```json ...``` or any markdown.\n\nprimary_topic – Must be a single, human‑readable string naming the broad subject; no arrows, arrays, or code fences (e.g., \"NVIDIA Automotive Solutions\").\n\nsub_topic_path – Must be a JSON array whose elements go from the broadest category to the most specific (e.g., [\"Technology\", \"Artificial Intelligence\", \"Autonomous Vehicles\"]).\n\nkeywords – Must be a JSON array of 3‑10 short strings (each ≤ 3 words, lower‑case or Title Case, no duplicates), such as [\"AI\", \"Simulation\", \"Safety Systems\"].\n\nabstract – Must be plain text, 1‑3 sentences, no markdown, no line breaks, and no more than 320 characters (e.g., \"NVIDIA provides an end‑to‑end platform for autonomous driving, covering AI training, real‑time computing, and in‑vehicle safety.\").\n\nsensitivity_class – Must be one of exactly these values: \"public\", \"internal\", \"confidential\", or \"PII\" (case‑sensitive).\n\nurl – Must be a JSON array containing valid HTTPS URLs and nothing else (e.g., [\"https://www.nvidia.com/en-us/industries/automotive/\"]).\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        -560,
        160
      ],
      "id": "c1f2ec65-b875-4c59-ad07-82b7603f9a77",
      "name": "Information Extractor",
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -500,
        360
      ],
      "id": "bfc1a1f8-240e-41b2-bae9-429ea379a21f",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "kVlwRjh9oiYcDQRp",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -920,
        720
      ],
      "id": "cc00fae0-b650-4606-97f6-5d41497ca292",
      "name": "Respond to Webhook",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        220,
        160
      ],
      "id": "fab6d2d5-03e1-40ca-abcd-98f3c95363fe",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Market Intel Tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Qdrant Vector Store2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b4385bf8-1923-4e77-9b0d-3406fcd1fbfe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "0siFopCoro6E9rrb",
  "tags": [
    {
      "createdAt": "2025-04-21T21:27:58.869Z",
      "updatedAt": "2025-04-21T21:27:58.869Z",
      "id": "dfS6qeX82lpCttp6",
      "name": "ProspectsAI"
    }
  ]
}